html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  max-width: 550px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Roboto', '微软雅黑', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  touch-action: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}