@mixin splitLine {
  border-right-width: 1px;
  border-right-style: solid;
  border-color: rgba(255, 255, 255, 0.42);
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin bgFill ($url) {
  background-image: url($url);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}